$color-primary:  rgb(63, 154, 177);
$color-primary-light: rgb(110, 206, 230);
$color-primary-dark: rgb(9, 94, 116);

$color-gray-light: #f7f7f7;
$color-gray-light-1: #eee;
$color-gray-dark-2: #999;
$color-gray-dark: #777;

$color-white: #fff;
$color-black: #000;

//fonts
$default-font-size: 1.3rem;


////////////border
//$border-bottom: 1px solid $color-gray-light-2;